# this is required for the molecule jobs
ansible
ansi2html
docker
# https://github.com/sqlalchemy/dogpile.cache/issues/178
dogpile.cache>=0.6.5,<0.9.1  # MIT
pytest
pytest-cov
pytest-html
pytest-xdist
mock
molecule>=3.0,<3.1
selinux  # MIT
jinja2>=2.8.0,<3
