---
- name: Gather facts
  setup:
    gather_subset:
      - '!all'
      - '!min'

- name: Get available updates for packages
  check_package_update:
    packages_list: "{{ packages_list }}"
  register: updates

- name: Check if current version is the latest one
  fail:
    msg: >-
      A newer version of the {{ item.name }} package is
      available: {{ item.new_version }}-{{ item.new_release }}
      (currently {{ item.current_version }}-{{ item.current_release }})
  with_items: "{{ updates.outdated_pkgs }}"
  when: item.new_version
