---
# extra_env_vars variable should be formed as:
# extra_env_vars: "--extra-env-vars key=value --extra-env-vars key2=value2"
validations_list:
  compute:
    - nova-status:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
  clients:
    - openstack-endpoints:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
  network:
    - undercloud-neutron-sanity-check:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
  validation:
    - check-cpu:
        negative_results:
          extra_args: "--extra-vars minimal_cpu_count=20000"
        extra_args: "--extra-vars minimal_cpu_count=2"
        extra_env_args: "--extra-env-vars ANSIBLE_STDOUT_CALLBACK=default {{ extra_env_vars | default('') }}"
    - 512e:
        extra_args: ""
        extra_env_args: ""
    - check-ram:
        negative_results:
          extra_args: "--extra-vars minimal_ram_gb=2000000"
        extra_args: "--extra-vars minimal_ram_gb=2"
        extra_env_args: "--extra-env-vars ANSIBLE_STDOUT_CALLBACK=default {{ extra_env_vars | default('') }}"
  tripleo:
    - undercloud-process-count:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
    - tripleo-latest-packages-version:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
    - check-for-dangling-images:
        extra_args: ""
        extra_env_args: "{{ extra_env_vars | default('') }}"
validations_group:
  compute:
    - compute
  network:
    - network

validation_metadata:
  group:
    - no-op
    - prep
  category:
    - storage
    - container
  product:
    - tripleo

validation_list_formats:
  - csv
  - json
  - table
  - value
  - yaml

# Entire catalogue of validations to be executed in OVB environment
# extra_env_args and extra_args are shared for the execution
# Included validations will be sorted alphabetically.
validation_catalogue:
  extra_args: "--extra-vars minimal_ram_gb=2"
  extra_env_args: "{{ extra_env_vars | default('') }}"
  full_list:
    - 512e
    - ceph-dependencies-installed
    - check-cpu
    - check-disk-space
    - check-disk-space-pre-upgrade
    - check-for-dangling-images
    - check-ftype
    - check-network-gateway
    - check-ram
    - check-selinux-mode
    - container-status
    - controller-token
    - controller-ulimits
    - ctlplane-ip-range
    - dhcp-introspection
    - dhcp-provisioning
    - dns
    - healthcheck-service-status
    - image-serve
    - mysql-open-files-limit
    - neutron-sanity-check
    - no-op
    - nova-event-callback
    - nova-svirt
    - ntp
    - openshift-nw-requirements
    - openstack-endpoints
    - overcloud-service-status
    - rabbitmq-limits
    - repos
    - service-status
    - tripleo-latest-packages-version
    - undercloud-disk-space
    - undercloud-disk-space-pre-upgrade
    - undercloud-neutron-sanity-check
    - undercloud-process-count

# Following validations are disabled for purposes of catalogue testing

#    - ceilometerdb-size # Not present on the OVB deployment
#    - system_encoding # Not present on the OVB deployment
#    - ceph-ansible-installed # Not present on the OVB deployment
#    - haproxy # Not present on the OVB deployment
#    - no-op-firewall-nova-driver # Not present on the OVB deployment
#    - containerized-undercloud-docker # Not present on the OVB deployment

# Hostname prerequisites are not met

#    - ceph-health
#    - ovs-dpdk-pmd-cpus-check

# General validation superceded by 'tripleo-latest-packages-version'
#    - check-latest-packages-version

# Failing due to bugs
#    - ceph-pg
#    - check-uc-hostname
#    - collect-flavors-and-verify-profiles
#    - default-node-count
#    - ironic-boot-configuration
#    - network-environment
#    - node-health
#    - nova-status
#    - stack-health
#    - switch-vlans
#    - undercloud-heat-purge-deleted
#    - undercloud-tokenflush
#    - validate-selinux

# Real issues detedte by validations but not relevant
#    - check-rhsm-version
#    - check-undercloud-conf
#    - node-disks
#    - openshift-hw-requirements
#    - pacemaker-status
#    - stonith-exists
#    - tls-everywhere-post-deployment
#    - tls-everywhere-pre-deployment
#    - tls-everywhere-prep
#    - undercloud-debug
#    - undercloud-service-status
