---
user_dir: "{{ ansible_env.HOME | default('') }}"
val_working_dir: "{{ ansible_env.HOME | default('') }}"
zuul_work_virtualenv: "{{ user_dir }}/.venv"
vf_log_dir: "{{ ansible_user_dir }}/logs"
ansible_dir: ""

inventory: "localhost"
validation_component: "{{ job.component|default('validation') }}"
# both commands can be used:
# "openstack tripleo validator" or "validation"
# the default is validation because this is the 1st entry available on
# a system for validation.
# The openstack command needs to install python-tripleoclient and its
# dependencies first. This value should be override as needed in the roles/vars
# calls.
command: "validation"
run_validation: true
