---
log_dir: "{{ ansible_user_dir }}/logs"
zuul_work_virtualenv: "{{ ansible_user_dir }}/.venv"
ansible_dir: "{{ zuul_work_virtualenv }}/share/validations-common"
validation_dir: "{{ zuul_work_virtualenv }}/share/validations-common/playbooks"
vf_log_dir: "/var/log/validations"
val_exec: "source {{ zuul_work_virtualenv }}/bin/activate; validation.py"
command:
  - output: "{{ log_dir }}/run.log"
    command: >-
      {{ val_exec }} run --validation check-ftype,512e
      --validation-dir {{ validation_dir }}
      --ansible-base-dir {{ ansible_dir }}
      --output-log {{ log_dir }}/run.log
  - output: "{{ log_dir }}/run-group.log"
    command: >-
      {{ val_exec }} run --group prep --validation-dir {{ validation_dir }}
      --ansible-base-dir {{ ansible_dir }}
      --output-log {{ log_dir }}/run-group.log
  - output: "{{ log_dir }}/list.log"
    command: >-
      {{ val_exec }} list --validation-dir {{ validation_dir }}
      --ansible-base-dir {{ ansible_dir }}
      --output-log {{ log_dir }}/list.log
  - output: "{{ log_dir }}/show.log"
    command: >-
      {{ val_exec }} show --validation-dir {{ validation_dir }}
      --ansible-base-dir {{ ansible_dir }}
      --output-log {{ log_dir }}/show.log
