---
user_dir: "{{ ansible_env.HOME | default('') }}"
val_working_dir: "{{ ansible_env.HOME | default('') }}"
zuul_work_virtualenv: "{{ user_dir }}/.venv"
vf_log_dir: "{{ ansible_user_dir }}/logs"
ansible_dir: ""

inventory: ""
inventory_list:
  - '{{ user_dir }}/tripleo-deploy/overcloud/tripleo-ansible-inventory.yaml'
  - '{{ user_dir }}/tripleo-deploy/undercloud/tripleo-ansible-inventory.yaml'
  - '{{ user_dir }}/tripleo-deploy/tripleo-ansible-inventory.yaml'

validation_component: "{{ job.component|default('validation') }}"
# both commands can be used:
# "openstack tripleo validator" or "validation"
# the default is validation because this is the 1st entry available on
# a system for validation.
# The openstack command needs to install python-tripleoclient and its
# dependencies first. This value should be override as needed in the roles/vars
# calls.
cli_command: "validation"
run_validation: true
execute_full_vf_catalogue: "{{ job.execute_full_vf_catalogue|default(false)|bool }}"
vf_catalogue_overrides: "{{ ansible_user_dir }}/catalog_vars_override.yaml"
files_to_run_dest: "{{ ansible_user_dir }}"
files_test_failure: false
