---
include_validation: {{ item.validation }}
include_group: {{ item.validation_group }}
include_category: {{ item.validation_category }}
include_product: {{ item.validation_product }}
exclude_validation: {{ item.exclude_validation }}
exclude_group: {{ item.exclude_validation_group }}
exclude_category: {{ item.exclude_validation_category }}
exclude_product: {{ item.exclude_validation_product }}
config: {{ validation_config | default('') }}
inventory: {{ inventory }}
validation-log-dir: {{ vf_log_dir }}
output-log: {{ vf_log_dir }}/run-from-file.log
# Checks if the following variables are defined, if the variables
# don't have the value, based on the vars/main.yaml file, they are skipped.
{% if item.extra_env_vars | default('') %}
extra-env-vars: {{ item.extra_env_vars }}
{% endif %}
{% if item.extra_vars | default('') %}
extra-vars: {{ item.extra_vars }}
{% endif %}
{% if item.limit_hosts | default('') %}
limit: {{ item.limit_hosts.limit | default('') }}
{% endif %}
# Checks if the zuul virtualenv exists, if not default path is used instead.
{% if is_virtualenv.stat.exists %}
validation-dir: {{ zuul_work_virtualenv }}/share/ansible/validation-playbooks
ansible-base-dir: {{ zuul_work_virtualenv }}/share/ansible
python-interpreter: {{ zuul_work_virtualenv }}/bin/python3
{% else %}
validation-dir: /usr/share/ansible/validation-playbooks
ansible-base-dir: /usr/share/ansible
python-interpreter: /usr/bin/python3
{% endif %}
